.big-button {
    -fx-background-color: #1B1B28;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: 'Julius Sans One';
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.big-button:hover {
    -fx-background-color: #232334;
}

.big-button:pressed {
    -fx-background-color: #1B1B28;
}

.button-text{
    -fx-text-fill: white;
}

.back-button {
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
    -fx-pref-height: 80px;
}

.menu-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-family: 'Julius Sans One';
    -fx-text-alignment: center;
    -fx-padding: 10 0 40 0;
}

.description-text {
    -fx-fill: #CAC7C7;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-font-family: 'Julius Sans One';
}
.grid {
    -fx-background-color: #1B1B28;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-alignment: CENTER;
}
