.big-button {
    -fx-background-color: #1B1B28;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Julius Sans One';
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.big-button:hover {
    -fx-background-color: #232334;
}

.big-button:pressed {
    -fx-background-color: #1B1B28;
}

.button-text{
    -fx-text-fill: white;
    fx-font-size: 12;
}

.interscope-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
    -fx-font-family: 'Julius Sans One';
    -fx-text-alignment: center;
    -fx-padding: 10 0 40 0;
}

.description-text {
    -fx-fill: #CAC7C7;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
    -fx-font-family: 'Julius Sans One';
}
.grid {
    -fx-padding: 0 0 0 40;
    -fx-background-color: #1B1B28;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
