.text-field, .search-button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-pref-height: 35;
}

.text-field {
    -fx-background-color: #8D8D93;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #808080;
    -fx-border-color: #646464;
    -fx-padding: 5px;
    -fx-pref-width: 400;
}

.search-button {
    -fx-background-color: #111016;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Julius Sans One';
    -fx-pref-width: 100;
}

.search-button:hover {
    -fx-background-color: #47435F;
}

.table-view {
    -fx-background-color: #2b2b2b;
    -fx-pref-width: 750px;
    -fx-pref-height: 500px;
    -fx-border-color: #3c3f41;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
}

.table-view .column-header, .table-view .column-header-background {
    -fx-background-color: #323232;
}

.table-view .column-header {
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: #3c3f41;
    -fx-pref-height: 45px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 5px;
}

.table-row-cell {
    -fx-background-color: #2b2b2b;
}

.table-row-cell:odd {
    -fx-background-color: #2d2d2d;
}

.table-row-cell:selected, .table-row-cell:filled:selected:hover {
    -fx-background-color: #365880;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-padding: 8px 10px;
}

.table-view .scroll-bar {
    -fx-background-color: #2b2b2b;
    -fx-pref-width: 12px;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #4c4c4c;
    -fx-background-radius: 6px;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #5c5c5c;
}

.radio-button {
    -fx-text-fill: white;
    -fx-padding: 5;
}

.radio-button .radio {
    -fx-background-color: #8D8D93;
}

.radio-button:selected .dot {
    -fx-background-color: black;
}

#siteColumn {
    -fx-pref-width: 250px;
}

#linkColumn {
    -fx-pref-width: 500px;
}
